USE [master]
GO
/****** Object:  Database [MyPham]    Script Date: 8/08/2021 10:25:31 PM ******/
CREATE DATABASE [MyPham]
GO
USE [MyPham]
GO
/****** Object:  Table [dbo].[Chi_Tiet_Gio_Hang]    Script Date: 8/08/2021 10:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_Tiet_Gio_Hang](
	[MaGioHang] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuongMua] [int] NOT NULL,
	[GiaSP] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGioHang] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucSP]    Script Date: 8/08/2021 10:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSP](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 8/08/2021 10:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGioHang] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 8/08/2021 10:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[HinhThucVanChuyen] [nvarchar](100) NOT NULL,
	[HinhThucThanhToan] [nvarchar](100) NOT NULL,
	[MaGioHang] [int] NOT NULL,
	[GhiChu] [ntext] NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[DiaChi] [ntext] NULL,
	[SoDienThoai] [nchar](10) NULL,
	[TinhTrang] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 8/08/2021 10:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 8/08/2021 10:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](80) NOT NULL,
	[Gia] [money] NOT NULL,
	[ThuongHieu] [nvarchar](80) NULL,
	[SoLuongTon] [int] NOT NULL,
	[XuatXu] [nvarchar](80) NULL,
	[DungTich] [int] NULL,
	[HangSX] [nvarchar](80) NULL,
	[TrongLuong] [int] NULL,
	[ChatLieu] [nvarchar](60) NULL,
	[CongDung] [ntext] NULL,
	[ThanhPhan] [ntext] NULL,
	[HuongDanSD] [ntext] NULL,
	[QuyCachDongGoi] [ntext] NULL,
	[GiamGia] [float] NULL,
	[MaDM] [int] NOT NULL,
	[AnhSP] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 8/08/2021 10:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[DiaChi] [ntext] NULL,
	[SoDienThoai] [nchar](10) NULL,
	[Anh] [nvarchar](50) NULL,
	[TinhTrang] [bit] NOT NULL,
	[MaQuyen] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Chi_Tiet_Gio_Hang] ([MaGioHang], [MaSP], [SoLuongMua], [GiaSP]) VALUES (2, 15, 3, 319000.0000)
INSERT [dbo].[Chi_Tiet_Gio_Hang] ([MaGioHang], [MaSP], [SoLuongMua], [GiaSP]) VALUES (2, 32, 3, 45000.0000)
INSERT [dbo].[Chi_Tiet_Gio_Hang] ([MaGioHang], [MaSP], [SoLuongMua], [GiaSP]) VALUES (4, 32, 1, 45000.0000)
GO
SET IDENTITY_INSERT [dbo].[DanhMucSP] ON 

INSERT [dbo].[DanhMucSP] ([MaDM], [TenDM]) VALUES (1, N'Mỹ Phẩm Dưỡng Da')
INSERT [dbo].[DanhMucSP] ([MaDM], [TenDM]) VALUES (2, N'Mỹ Phẩm Trang Điểm')
INSERT [dbo].[DanhMucSP] ([MaDM], [TenDM]) VALUES (3, N'Mỹ Phẩm Làm sạch')
SET IDENTITY_INSERT [dbo].[DanhMucSP] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([MaGioHang], [MaTK]) VALUES (2, 3)
INSERT [dbo].[GioHang] ([MaGioHang], [MaTK]) VALUES (4, 2)
INSERT [dbo].[GioHang] ([MaGioHang], [MaTK]) VALUES (5, 2)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [HinhThucVanChuyen], [HinhThucThanhToan], [MaGioHang], [GhiChu], [HoTen], [DiaChi], [SoDienThoai], [TinhTrang]) VALUES (2, CAST(N'2021-08-04T11:09:08.000' AS DateTime), N'Mặc định', N'Thanh toán khi nhận hàng', 2, NULL, N'Vinh Hà Đỗ', N'Hà Nội', N'0123456789', N'Đã nhận')
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [HinhThucVanChuyen], [HinhThucThanhToan], [MaGioHang], [GhiChu], [HoTen], [DiaChi], [SoDienThoai], [TinhTrang]) VALUES (3, CAST(N'2021-08-08T21:08:00.860' AS DateTime), N'Giao hàng tiết kiệm', N'Thanh toán khi nhận hàng', 7, N'', N'Nguyễn Anh Linh', N'Ứng Hòa - Hà Nội', N'076545644 ', N'Đang chờ')
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [HinhThucVanChuyen], [HinhThucThanhToan], [MaGioHang], [GhiChu], [HoTen], [DiaChi], [SoDienThoai], [TinhTrang]) VALUES (4, CAST(N'2021-08-08T21:17:24.000' AS DateTime), N'Giao hàng tiết kiệm', N'Thanh toán khi nhận hàng', 9, NULL, N'Hoàng Duy Khánh', N'Hải Phòng', N'075645676 ', N'Đang giao')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON 

INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen]) VALUES (1, N'Admin')
INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen]) VALUES (2, N'NhanVien')
INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen]) VALUES (3, N'KhachHang')
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

GO
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [Email], [MatKhau], [HoTen], [DiaChi], [SoDienThoai], [Anh], [TinhTrang], [MaQuyen]) VALUES (2, N'namdoan@gmail.com', N'123456', N'Đoàn Duy Nam', N'Vĩnh Bảo - Hải Phòng', N'0397482016', N'th.jpg', 1, 1)
INSERT [dbo].[TaiKhoan] ([MaTK], [Email], [MatKhau], [HoTen], [DiaChi], [SoDienThoai], [Anh], [TinhTrang], [MaQuyen]) VALUES (3, N'hadv@gmail.com', N'123456', N'Vinh Hà Đỗ', N'Hà Nội', N'0123456789', N'anh-gai-xinh-2000-de-thuong.jpg', 1, 3)
INSERT [dbo].[TaiKhoan] ([MaTK], [Email], [MatKhau], [HoTen], [DiaChi], [SoDienThoai], [Anh], [TinhTrang], [MaQuyen]) VALUES (4, N'linhloc27092000@gmail.com', N'123456', N'Nguyễn Anh Linh', N'Ứng Hòa - Hà Nội', N'0815619200', NULL, 1, 3)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
ALTER TABLE [dbo].[Chi_Tiet_Gio_Hang]  WITH CHECK ADD FOREIGN KEY([MaGioHang])
REFERENCES [dbo].[GioHang] ([MaGioHang])
GO
ALTER TABLE [dbo].[Chi_Tiet_Gio_Hang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaGioHang])
REFERENCES [dbo].[GioHang] ([MaGioHang])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMucSP] ([MaDM])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[PhanQuyen] ([MaQuyen])
GO
USE [master]
GO
